<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploreX - Turism Agency</title>
    <link rel="stylesheet" href="../css/Sobre.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/cargo.ico">


    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>ExploreX - Turism Agency </title>
</head>

<body>
    <main>
        <div class="About  ">
            <header>
                <nav>
                    <div class="container">
                        <div class="logo">
                            <img src="../img/cargo.png" alt="">
                            ExploreX
                        </div>

                        <div class="links">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="Trip.html">Passeios</a></li>
                                <li><a href="About.html">Sobre</a></li>
                                <li><a href="Login.html">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="sobre-container">

                <h1 class="sobre-container-titulo">Conheça a ExploreX</h1>
                <p class="sobre-container-p">Somos uma agência de turismo apaixonada por criar experiências inesquecíveis. Nossa missão é inspirar e capacitar viajantes a explorar o mundo de maneiras novas e emocionantes.
                    <br>
                    <br>
                    Na exploreX, oferecemos serviço excepcional, destinos emocionantes e compromisso com a sustentabilidade. Junte-se a nós enquanto exploramos o mundo juntos.
                    <br>
                    <br>
                    Explore. Descubra. Viva.
                    <br>
                    <br>
                    Bem-vindo à exploreX.</p>
                
            </div>
        </div>