<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploreX - Turism Agency</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/cargo.ico">


    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>ExploreX - Turism Agency </title>
</head>

<body>
    <main>
        <div class="general">
            <header>
                <nav>
                    <div class="container">
                        <div class="logo">
                            <img src="../img/cargo.png" alt="">
                            ExploreX
                        </div>

                        <div class="links">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="Trip.html">Viagens</a></li>
                                <li><a href="About.html">Sobre</a></li>
                                <li><a href="Login.html">Login</a></li>
                                <li><a href="cart.php"><img src="../img/car.png" alt=""></a></li>
                            </ul>

                        </div>

                    </div>
                </nav>

            </header>
            <div class="container">
                <div class="collums">
                    <div class="collum-left">
                        <h1>EmpresaTur</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptate, repellendus provident. Soluta, id quis quas omnis,
                            sed pariatur in officia perferendis, odit ea dolores minus accusamus
                            vitae! Assumenda vero asperiores, tempore, incidunt consequuntur commodi
                            non beatae ullam nulla blanditiis dolores dolore adipisci saepe consectetur
                            ex est, maxime rem quos officiis.</p>
                        <button class="container-btn">comprar</button>
                    </div>
                    <div class="collum-right">
                        <div class="card card1">
                            <h5>PIPA DE BUGGY</h5>
                        </div>
                        <div class="card card2">
                            <h5>NOVA YORK</h5>
                        </div>
                        <div class="card card3">
                            <h5>MARACAJAÚ DE BUGGY </h5>
                        </div>
                        <div class="card card4">
                            <h5>PRAIA</h5>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../js/script.js"></script>
</body>

</html>