<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploreX - Turism Agency</title>
    <link rel="stylesheet" href="./css/Trip.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="img/cargo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>ExploreX - Turism Agency </title>
</head>

<body>
    <main>
        <div class="trip">
            <header>
                <nav>
                    <div class="container">
                        <div class="logo">
                            <img src="./img/cargo.png" alt="">
                            ExploreX
                        </div>

                        <div class="links">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="Trip.html">Passeios</a></li>
                                <li><a href="#">Sobre</a></li>
                                <li><a href="Login.html">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>

        <section class="section-video">
            <div class="container-border">
                <div class="video-container">
                    <video autoplay muted loop>
                        <source src="./img/videotop2.mp4" type="video/mp4">
                        Seu navegador não suporta vídeos HTML5.
                    </video>
                </div>

                <div class="content">
                </div>
            </div>
        </section>
        </div>
        <section class="formdate">
            <form action="" class="formvenda">

                <div class="form-space">
                    <label class="form-label" for="destino">Destino</label>
                    <input class="form-inpt" type="text" name="destino" placeholder="Buscar Destinos">
                </div>

                <div class="form-space">
                    <label class="form-label" for="datepicker">Check-in</label>
                    <input class="form-inpt" type="text" id="datepicker" placeholder="Insira as datas">
                </div>
                <div class="form-space">
                    <label class="form-label" for="checkout">Check-out</label>
                    <input class="form-inpt" type="date" name="checkout" placeholder="Insira as datas">
                </div>
                <div class="search">
                    <a href=""><img src="./img/lupa.png" alt=""></a>
                </div>


            </form>
        </section>

        <section class="trip-section">

            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>


            <div class="container-cards">
                <div class="cards">
                    <img src="" alt="">
                </div>
                <h2 class="card-titulo">Rio de Janeiro - Brasil</h2>
                <p class="card-p">668 km distância</p>
                <p class="card-p">31 de mar - 5 de abr.</p>
                <h2 class="card-h2"><strong>R$897</strong> noite</h2>
                <button class="card-btn">Confira aqui</button>
            </div>

        </section>
    </main>
</body>

</html>